<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_key</key>
	<string>1020f34ec9260531e5ad653a90e2d111</string>
	<key>app_id</key>
	<string>00fb2355</string>
</dict>
</plist>
